.collection-item {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 350px;
  width: 22%;
  position: relative;

  .image {
    background-position: center;
    background-size: cover;
    height: 95%;
    margin-bottom: 5px;
    width: 100%;
  }

  .custom-button {
    width: 80%;
    opacity: 0.7;
    position: absolute;
    top: 255px;
  }

  .collection-footer {
    height: 5%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
  }

  &:hover {
    .image {
      opacity: 0.6;
    }

    .custom-button {
      opacity: 0.85;
      display: flex;
    }
  }
}
