@mixin flex-centered($direction: column) {
  display: flex;
  flex-direction: $direction;
  align-items: center;
  justify-content: center;
  margin: 40px auto;
}

.empty-checkout {
  @include flex-centered();

  .icon {
    width: 25%;
  }
  .empty-checkout-message {
    @include flex-centered();
    .description {
      font-size: 18px;
    }
  }
}
