@mixin flex-aligned($align: center, $justify: center, $direction: row) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

@mixin squaredSize($size) {
  width: $size;
  height: $size;
}

.cart-item-preview {
  @include flex-aligned($justify: space-between);
  margin-top: 5px;

  .item {
    @include flex-aligned($justify: flex-start);
    width: 80%;

    .item-image {
      height: 50px;
      width: 40px;
      border-radius: 5px;
    }
    .item-info {
      margin-left: 10px;
    }
  }

  .remove-item-icon {
    @include squaredSize(17px);
    cursor: pointer;
  }
}
